{{#if match}}
  <h1> Congrats! It's a Match. <br>
    Please Call 646-135-2091 </h1>
  <img src="/assets/hackathon/mike.jpg" />
{{else}}
  <h1> Sorry...You're Not Covered! <br>
  </h1>
  <img src="/assets/hackathon/stancu.jpg" />
{{/if}}