<!-- Trigger/Open The Modal -->
<button id="myBtn">About</button>

<!-- The Modal -->
<div id="myModal" class="modal">

 <!-- Modal content -->
 <div class="modal-content">
   <div class="modal-header">
     <span class="close">×</span>
     <h2>What is tindr?</h2>
   </div>
     <div class="modal-body">
       <p> tindr is a smart and clever way to find a doctor based on your insurance and personal preferences </p>
     </div>
 </div>
</div>


<!-- Initial FIND YOUR MATCH BUTTON WITH SCROLLING -->
<a href="#section2">

<div align="center" style="height: 100%;">
  <br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br>
  <button class="button" style="vertical-align:middle">
    <span> Find Your Match Now    </span>
  </button>
    <br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br>
</div>
</a>


<div class="main">
  <section></section>
</div>


<div class="main" id="section2">
  <section style="background-color: #24272e">
    <p>
      <div align="center">
        <p>
          <font face="verdana" size= "6" color="#FFFFFF">
            <br><br><br> First Tell Us About Yourself...  <br><br>
          </font>
        </p>
      </div>
    </p>

    <div align="center">

    <form>
      <input type="text" id="fname" name="fname" placeholder="First Name"><br><br><br>
      <input type="text" id="lname" name="lname" placeholder="Last Name"><br><br><br>
      <!-- <input type="text" id="insurance" name="insurance" placeholder="Insurance Carrier"><br><br><br><br>-->
      <input type="text" id="zipcode" name="zipcode" placeholder="Zip Code"><br><br><br>
      <input type="text" id="specialty" name="specialty" placeholder="Choose a Specialty"> <br><br><br>
    </form>

    <form>
      <select id="insurance" name="insurance">
        <option value="0">&nbsp;&nbsp;Choose Your Insurance Carrier</option>
        <option value="17210">&nbsp;&nbsp;Aetna</option>
        <option value="57165">&nbsp;&nbsp;Affinity Health Plan, Inc.</option>
        <option value="49526">&nbsp;&nbsp;BlueCross BlueShield of Western New York</option>
        <option value="36346">&nbsp;&nbsp;BlueShield of Northeastern New York</option>
        <option value="94788">&nbsp;&nbsp;Capital District Physicians Health Plan</option>
        <option value="92551">&nbsp;&nbsp;CDPHP</option>
        <option value="44113">&nbsp;&nbsp;Empire HealthChoice Assurance, Inc.</option>
        <option value="88582">&nbsp;&nbsp;EmblemHealth</option>
        <option value="80519">&nbsp;&nbsp;Empire HealthChoice HMO, Inc.</option>
        <option value="78124">&nbsp;&nbsp;Excellus Health Plan, Inc.</option>
        <option value="25303">&nbsp;&nbsp;Fidelis Care</option>
        <option value="91237">&nbsp;&nbsp;Healthfirst</option>
        <option value="40064">&nbsp;&nbsp;HealthNow New York</option>
        <option value="70552">&nbsp;&nbsp;Independent Health Association</option>
        <option value="18029">&nbsp;&nbsp;Independent Health Benefits Corporation</option>
        <option value="83744">&nbsp;&nbsp;Managed Health, Inc</option>
        <option value="11177">&nbsp;&nbsp;MetroPlus Health Plan</option>
        <option value="39595">&nbsp;&nbsp;WellCare of New York, Inc.</option>
        <option value="56184">&nbsp;&nbsp;MVP Health Care</option>
        <option value="89846">&nbsp;&nbsp;MVP Health Services</option>
        <option value="82483">&nbsp;&nbsp;Northwell Health w/CareConnect</option>
        <option value="74289">&nbsp;&nbsp;Oscar Insurance Corporation</option>
        <option value="54297">&nbsp;&nbsp;UnitedHealthcare</option>
        <option value="54235">&nbsp;&nbsp;UnitedHealthcare of New York, Inc.</option>
        <option value="26420">&nbsp;&nbsp;UnitedHealthcare Oxford</option>
        <option value="85629">&nbsp;&nbsp;UnitedHealthcare Oxford</option>
      </select>
    </form>

    <br><br><br>

</div>


<div align="center">
  <button class="button2" {{action 'go' }} style="vertical-align:middle"><span>Now Tell Us What You Like... </span></button>
</div>








 </section>





</div>

